<!-- begin _includes/shared-close.html -->
		</article>
		<footer>
			<div class="row">
				<div class="four columns">
					<p>Divergency is an ongoing artist development programme supported by <a href='http://habmcr.org' target='_blank'>hÅb</a> + <a href='http://stunlive.com' target='_blank'>STUN</a>.</p>
				</div>
				<div class="four columns">
					<p>Divergency c/o hÅb at Z-arts, 335 Stretford Rd, Manchester, M15 5ZA | <a href="mailto:divergency@habmcr.org">divergency@habmcr.org</a><br><small><a href="http://wordofwarning.org/hab/privacy" target="_blank">hÅb's Privacy Policy</a> | Copyright &copy;2018 hÅb. All rights reserved.</small></p>
				</div>
				<div class="four columns">
					<img src="{{site.github.url}}/assets/images/logostrip.png" alt="Supported by Live Art UK's Diverse Actions; supported using public funding by the National Lottery through Arts Council England.">
				</div>
			</div>
		</footer>
	</div>

	<!--
	<script src="{{ page.rootpath }}assets/vendor/jquery/javascripts/jquery.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.reveal.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.orbit-1.4.0.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.customforms.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.placeholder.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.tooltips.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/app.js"></script>
	-->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics_ua }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
