		<header id="sitelevel">
			<div class="row">
				<div class="twelve columns">
					<a href="{{ site.github.url }}">HOME</a>
					<nav>
					    <a href="/current/artist">ARTISTS</a>      
					    <a href='/current/event">EVENTS</a>
					    <a href="/current/contact">CONTACT & PARTNERS</a>
					    <a href="/archive">ARCHIVE</a>
					    <a href="/galleries">GALLERIES</a>
					    <a href='http://divergencymcr.posthaven.com' target="_blank">BLOG (2014—16)</a>
					</nav>
				</div>
			</div>
		</header>
