		<header id="sitelevel">
			<div class="row">
				<div class="twelve columns">
					<a href="{{ site.github.url }}/index.html">Home</a>
					<nav>
					    <a href="{{ site.github.url }}/artist">Artists</a>
					    <a href="{{ site.github.url }}/event">Events</a>
					    <a href="{{ site.github.url }}/archive">Archive</a>
					    <a href="{{ site.github.url }}/galleries">Galleries</a>
					    <a href='http://divergencymcr.posthaven.com' target="_blank">Blog</a>
					    <a href="{{ site.github.url }}/contact">Contact</a>
					</nav>
				</div>
			</div>
		</header>
