/* THEMED PER-EVENT STYLES ---------------------------*/

/* default divergency styling
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#fff; color:#111;}

	blockquote
		{border-left-color:#999;}
	blockquote, blockquote p
		{color: #999;}

	a,
	a:visited,
	a:hover
		{color:#666;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #fff;}
		
	a.splash:hover .artist
		{background:#000; color:#fff;}

	.splash
		{background:url(../images/header_divergency.jpg) -150px center}

/* hAb black
------------------------------------------------------*/

	.hab,
	.hab .artist, 
	.hab .show,
	.hab .season
		{background:#000; color:#fff;}

	.hab a,
	.hab a:visited,
	.hab a:hover
		{color:#fff;}
	.hab nav a:hover,
	.hab article a:hover,
	.hab footer a:hover
		{background: #fff; color: #000;}

	.hab .splash
		{background:url(../images/header_hab_photo.jpg) center center}

/* Autumn/Winter 2016 Programme colour tbc
------------------------------------------------------*/

	.aw2016 .splash
		{background:url(../images/header_ss2014wrn.jpg) -150px center}

/* divergency orange
------------------------------------------------------*/
		
	.div,
	.div .artist, 
	.div .show,
	.div .season
		{background:#f93; color:#000;}

	.div a,
	.div a:visited,
	.div a:hover
		{color:#000;}
	.div nav a:hover,
	.div article a:hover,
	.div footer a:hover
		{background: #000; color: #f93;}

	.div .splash
		{background:url(../images/header_chanje.jpg) center center}
