/* THEMED PER-EVENT STYLES ---------------------------*/

/* default site styling: Orange background, header & no quote colour
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#f93; color:#000;}

	a,
	a:visited,
	a:hover
		{color:#000;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #f93;}
		
	a.splash:hover .artist
		{background:#000; color:#f93;}

	.splash
		{background:url(../images/header_div_or.jpg) center center}

/* Artists use TBD (don't use ar until we put in a header)
------------------------------------------------------*/

	.ar .splash
		{background:url(../images/header???.jpg) center center}

/* Events use Chanje + logo header
------------------------------------------------------*/

	.ev .splash
		{background:url(../images/header_div_chanje.jpg) center center}
