/* THEMED PER-EVENT STYLES ---------------------------*/

/* default site styling incl homepage: Orange background, header & no quote colour
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#f93; color:#000;}

	a,
	a:visited,
	a:hover
		{color:#000;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #f93;}
		
	a.splash:hover .artist
		{background:#000; color:#f93;}

	.splash
		{background:url(../images/header_div.png) -150px center}

/* Events (generic): Toni & her Dad on cyc
------------------------------------------------------*/

	.events .splash
		{background:url(../images/header_toni.jpg) center center}

/* Artists (generic): Afreena powder
------------------------------------------------------*/

	.artists .splash
		{background:url(../images/header_afreena.jpg) center center}

/* Mixology March 2017: pic of vase with lights
------------------------------------------------------*/

	.mixology .splash
		{background:url(../images/header_mixology.jpg) center center}

/* Showcase October 2016: Chanje starlight header
------------------------------------------------------*/

	.showcase .splash
		{background:url(../images/header_chanje.jpg) center center}
