/* THEMED PER-EVENT STYLES ---------------------------*/

/* default site styling: Orange background, header & no quote colour
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#f93; color:#000;}

	a,
	a:visited,
	a:hover
		{color:#000;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #f93;}
		
	a.splash:hover .artist
		{background:#000; color:#f93;}

	.splash
		{background:url(../images/header_div.png) center center}

/* 2016 Events use Chanje + Div logo header
------------------------------------------------------*/

	.2016 .splash
		{background:url(../images/header_div_chanje.jpg) center center}

/* 2017 Events use white Div logo
------------------------------------------------------*/

	.2017 .splash
		{background:url(../images/header_div_wh.jpg) center center}
