---
layout: base

season: "2016 events"
bodyclass: #redundant now
sectionroot: 'current/2016'

events:
    -   label: "Divergency (I)"
        date: "Thu 6 Oct, 6-10pm"
        venue: "| Z-arts (incl. STUN Studio)"
        artists:
	    - name: "<a href='/current/2016/6oct'>An evening of the different, featuring:</a><br>Maya Chowdhry | Afreena Islam | Jamil E-R Keating | Chanje Kunda | Cheryl Martin | Chelsea Morgan | Toni-Dee Paul"	    

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
