---
layout: base

season: "Previous Events"
bodyclass: events
sectionroot: 'archive/event'

events:
    -   label: "Windows of Displacement"
        date: "Thu 19 Oct 2017"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: buck2017, name: "Akeim Toussaint Buck"}    
    -   label: "Mixology"
        date: "Mon 27 March 2017"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: mixology2017, name: "A chance to find out more about Divergency."}
    -   label: "Showcase"
        date: "Thu 6 Oct 2016"
        venue: "| Z-arts (incl. STUN Studio)"
        artists:
            - {folder: showcase2016, name: "An evening of the different."}
    -   label: "Matilda and Me"
        date: "Thu 25 Jun 2015"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: hartley2015, name: "Ria Hartley"}        
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
