---
layout: base

season: "Previous events"
bodyclass: #redundant now
sectionroot: 'archive/event'

events:
    -   label: "Mixology"
        date: "Mon 27 March 2017"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: mixology2017, name: "A chance to find out more about Divergency."}
    -   label: "Showcase"
        date: "Thu 6 Oct 2016"
        venue: "| Z-arts (incl. STUN Studio)"
        artists:
            - {folder: showcase2016, name: "An evening of the different."}
            
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
