---
layout: base

season: "Current Divergency Artists"
bodyclass: ar
sectionroot: 'current/artist'

events:
    -   artists:
            - {folder: chowdhry, name: "Maya Chowdhry"}
	    - {folder: islam, name: "Afreena Islam"}
	    - {folder: keating, name: "Jamil Keating"}
	    - {folder: kunda, name: "Chanje Kunda"}
	    - {folder: martin, name: "Cheryl Martin"}
	    - {folder: morgan, name: "Chelsea Morgan"}
	    - {folder: paul, name: "Toni-Dee Paul"}
	    - {folder: shelton, name: "Yvonne Shelton"}

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
