---

layout: base

season: "CONTACT & LINKS"
bodyclass: ar
sectionroot: 'contact'

events:
    -   rawhtmlinstead: "<a href="mailto:divergency@habmcr.org">divergency@habmcr.org</a>"
    -   rawhtmlinstead: "<a href="http://habmcr.org" target="_blank">hÅb</a>" | "<a href="http://wordofwarning.org" target="_blank">Word of Warning</a>"
    -   rawhtmlinstead: "<a href="http://stunlive.com" target="_blank">STUN (Sustained Theatre Up North)</a>"
    -   rawhtmlinstead: "<a href="http://bgafestival.com target="_blank">Black Gold Arts Festival</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
