---
layout: base

season: "Current Events"
bodyclass: events
sectionroot: 'current/event'

events: 
    -   label: "Live Art Workshop Session 1"
        date: "Fri 1 Feb, 5.30-8.30pm. FREE"
        venue: "| The Yard"
        artists:
            - {folder: feb2019, name: "Season Butler"}
    -   label: "Live Art Workshop informal group working"
        date: "Tue 26 Feb, 6-9pm. FREE"
        venue: "| The Yard"
        artists:
            - {folder: feb2019, name: "Group session"}
    -   label: "Live Art Workshop Session 2"
        date: "Wed 6 Mar, 5.30-8.30pm. FREE"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: feb2019, name: "Season Butler"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
