---
layout: base

season: "Current Events"
bodyclass: events
sectionroot: 'current/event'

events: 
    -   label: "Workshop: Mixology"
        date: "Tue 18 Sep, 6-9pm. FREE"
        venue: "| STUN Z-arts"
        artists:
            - {folder: sep2018, name: "Tarik Elmoutawakil"}
    -   label: "Workshop: Approaches to Critical Writing"
        date: "Thu 25 Oct, 6-9pm. FREE"
        venue: "| Z-arts"
        artists:
            - {folder: oct2018, name: "Salome Wagaine"}
    -   label: "Live Art Workshop: Killing Time"
        date: "Tue 20 Nov, 6-9pm. FREE"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: nov2018, name: "Stacy Makishi"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
