---
layout: base

season: "Supported Artists"
bodyclass: artists
sectionroot: 'current/artist'

events:
    -   artists:
            - {folder: camara, name: "Tania Camara"}
            - {folder: chowdhry, name: "Maya Chowdhry"}
            - {folder: islam, name: "Afreena Islam"}
            - {folder: keating, name: "Jamil E-R Keating"}
            - {folder: kunda, name: "Chanje Kunda"}
            - {folder: lawrence, name: "Amy Lawrence"}
            - {folder: martin, name: "Cheryl Martin"}
            - {folder: morgan, name: "Chelsea Morgan"}
            - {folder: nortonshafau, name: "Nikky Norton Shafau"}
            - {folder: paul, name: "Toni-Dee Paul"}
            - {folder: rajabi, name: "Mahboobeh Rajabi"}
            - {folder: raz, name: "Avital Raz"}
            - {folder: santana, name: "Fabiola Santana"}
            
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
